img{
  cursor: pointer;
}
.content{
  width: 100%;
  height: 60vh;
  background: url('https://cdn.leonardo.ai/users/ca9e5ae6-c2a1-45db-80c6-2bc46654f209/generations/082632e3-bcee-450d-8d7f-7bd6b6f03740/Leonardo_Diffusion_The_embroidery_machine_with_four_heads_is_a_1.jpg');
  background-position: center;
  background-size: cover;
}